{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>console.log('C\'est la page contact')</script>
{% endblock %}

{% block body %}
    <h1>Page contact</h1>
{% endblock %}
