{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Hello
        {% if app.user %}
            {{ app.user.username }}
        {% else %}
            Stranger
        {% endif %}
        ! ✅
    </h1>

    {% if app.user %}
        <ul>
            {% for wish in app.user.wishes|filter(wish => wish.isPublished) %}
                <li>
                    {% include 'wish/_card.html.twig' with {'wish': wish} only %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
