{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Hello
        {% if app.user %}
            {{ app.user.username }}
        {% else %}
            Stranger
        {% endif %}
        ! ✅
    </h1>
{% endblock %}
