<ul>
    {% for category in categories %}
        <li>
            <a href="{{ path('app_category_show', {'id': category.id}) }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
</ul>