{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Catégorie : {{ category.name }}</h1>

    {% for wish in category.wishes %}
        {% include 'wish/_card.html.twig' with {'wish': wish} only %}
    {% endfor %}

{% endblock %}
