<p>Auteur : {{ wish.author.username }}</p>
<p>
    <span class="badge text-bg-primary">
        {{ wish.category.name }}
    </span>
    {% for tag in wish.tags %}
        <span class="badge text-bg-secondary">
            {{ tag.name }}
        </span>
    {% endfor %}
</p>