{% extends 'base.html.twig' %}

{% block title %}Liste des souhaits{% endblock %}

{% block body %}
    <h1>Liste des souhaits</h1>

    <ul>
        {% for wish in wishes %}
            <li>
                {% include 'wish/_card.html.twig' with {'wish': wish} only %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
